---
# Content at the top of these posts are called YAML Front Matter.
# YAML Front Matter and variable-like values that can easily used inside the
# page content later on.  Control expressions like ``for`` & ``if`` can be used also.

# layout is a required variable
# post corresponds to ``_includes/post.html`` which is a template to interpret the
# of the post in this file
layout: post
# title of your post
title:  "Swift Stack with Python"
# the author of the post's github user name
author: imperssonator 
# Data and time of the post
date:   2014-10-21 6:38:00 PM

# Optional fields
categories:
tags:
notebook: >
  http://nbviewer.ipython.org/github/Imperssonator/MIC-OFET-Processing/blob/gh-pages/_data/SwiftCon.ipynb
---


The following script will let you access all of the files in a SwiftStack container using your login credentials:

* You must do a "pip install python-swiftclient" first
* Further reference: <a href:"https://community.emc.com/docs/DOC-37964">here</a>

{% capture nb %}

{% highlight html %}
{% raw %}
{% include notebook.html url='http://notebook.url' %}
{% endraw %}
{% endhighlight %}
{% endcapture %}

{{nb}}

{% include notebook.html url=page.notebook %}
